:root {
  --background-color: #FFF175;
  --default-screen-width: 1526px;
  --default-screen-height: 718px;
}

body {
  background-color: var(--background-color);
}

div.parallex-bg {
  position: fixed;
  width: 1200px;
  top: 0;
  left: 50%;
  margin-left: -600px;
}

/* background elements */
div#parallex-bg-1 {
  z-index: 1;
}

/* elements */
div#parallex-bg-2 {
  z-index: 2;
}

div.parallex-bg div {
  background-repeat: no-repeat;
  position: absolute;
  display: block;
  overflow: hidden;
}

.nav-bar {
  top: 530px;
  left: -90px;
  font-family: "Montserrat", sans-serif;
}

.nav-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 1.4em;
}

.nav-bar ul li.active {
  font-weight: bold;
}

.nav-bar ul li a {
  display: block;
  text-decoration: none;
  padding: 1px;
}



.nav-bar ul li a:link, .nav-bar ul li a:visited {
  color: #000;
}