body {
  --branch-height: 637px;
  --branch-width: 1146px;
  --num-of-projects: 4;
  --initial-offset: 30vh;
  --left-offset: 800px;
  height: calc(var(--num-of-projects) * var(--default-screen-height))
}

div#bg-1-2 {
  background: url("../media/branch/branch.png");
  top: 0px;
  left: calc(600px - calc(var(--default-screen-width) / 2));
  height: var(--branch-height);
  width: var(--branch-width);
}

div#bg-2-1 {
  top: 100px;
  left: 500px;
}


div#bg-2-2 {
  top: var(--initial-offset);
  left: var(--left-offset);
}

/* div#bg-2-2 {
  top: calc(var(--initial-offset) + var(--default-screen-height));
  left: var(--left-offset);
} */

div#bg-2-3 {
  top: calc(var(--initial-offset) + calc(2 * var(--default-screen-height)));
  left: var(--left-offset);
}

div#bg-2-4 {
  top: calc(var(--initial-offset) + calc(3 * var(--default-screen-height)));
  left: var(--left-offset);
}